*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
#paragraph{
    margin-left: 1vw;
}
.inp{
    margin-left: 1vw;
}
@media screen and (max-width: 768px) {
    body{
        margin-left: 4vw;
    }
    
}